/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
	background-color: rgb(238, 235, 225);
	color: rgb(51, 51, 51);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#Site_Title {
	font-size: 20px;
	position: relative;
}


div {
	border-radius: 5px;
}

.header {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: cover;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 8px 0px;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-origin: padding-box;
	background-size: cover;
	border-bottom-color: rgb(171, 171, 171);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 8px 0px;
	color: rgb(51, 51, 51);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 56px;
	left: 0px;
	line-height: 20px;
	min-width: 960px;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 1035;
	text-align: center;
}

img {
	float: left;
	margin: 10px;

}

.content {
	-webkit-box-shadow: rgb(204, 203, 194) 0px 1px 5px 0px;
	width: 900px;
	height: 2000px;
	display: block;
	margin-top: 65px;
	margin-right: auto;
	margin-left: auto;
	background-color: #F8F7F3;
}


