---
layout: default
title: Service Status
---

  <p><strong>Check the availability of all the online services offered by Couchsurfing</strong></p>

  <div id="service_list">
    <table id="service_table">
      <thead>
        <tr>
          <th class="ColTitle">Status</th>
          <th class="ColTitle">Service Name</th>
          <th class="ColTitle">Description</th>
	  <th class="ColTitle">Link</th>
        </tr>
      </thead>
    
      <tbody>
        {% for page in site.pages %}
          {% case page.title %}
            {% when "Service Status" %}
            {% else %}
              <tr class="{% cycle 'std_bg', 'alt_bg' %}">
                {% case page.status %}
                  {% when "Active" %}
                    <td class="status_box">
                        <img class="status_img" src="images/green_check.png">
			<p class="status_pop">{{ page.status }}</p>
                    </td>
                  {% when "Inactive" %}
                    <td class="status_box">
		      <img class="status_img" src="images/red_x.png">
		      <p class="status_pop">{{ page.status }}</p>
		    </td>
                  {% when "Under Maintenance" %}
                    <td class="status_box">
		      <img class="status_img" src="images/yellow_exclamation.png">
		      <p class="status_pop">{{ page.status }}</p>
		    </td>
                  {% else %}
                    <td class ="status_box">
		      <img class="status_img" id="UnknownStatus" src="images/blue_ques.png">
		      {% assign status_length = page.status | size %}
		      {% if status_length < 25 %}
		        <p class="status_pop">{{ page.status }}</p>
		      {% else %}
			<p class="status_pop">{{ page.status | truncate: 25 }}...</p>
		      {% endif %}
		    </td>
                    
	          {% endcase %}
                <td id="ServeLinkBox">
		  <a id="ServiceLinks" href="{{ page.baseurl }}"><strong>
		    {% assign title_length = page.title | size %}
		    {% if title_length < 32 %}
		      {{ page.title }}
		    {% else %}
		      {{ page.title | truncate: 32 }}...
		    {% endif %} 
		  </strong><a>
		</td>
                
		<td id="DescBox">
		  {% assign des_length = page.description | size %}
		  {% if des_length < 30 %}
		    {{ page.description }}
		  {% else %}
		    {{ page.description | truncate: 30 }}...
		  {% endif %} 
		</td>

	        <td id="LinkBox">
		  {% if page.link == "none" %}
		    <a href="https://www.couchsurfing.org" title="Couch Surfing Home"><img class="status_img" src="images/black_link.png"></a>
		  {% else %}
		    <a href="{{ page.link }}" title="{{ page.link }}"><img class="status_img" src="images/black_link.png"></a>
		  {% endif %} 
		</td>
              </tr>
          {% endcase %}
        {% endfor %}
      </tbody>
    </table>
  </div>

		
