---
layout: default
title: Couchsurfing - Services
---

<div id="home">
  <div class="ribbon_box">
    <h2 class="ribbon">
      <span class="ribbon-content">Service Status</span>
    </h2>
  </div>
  <p style="float:left; clear: left;"><strong>Check the availability of all the services offered by Couch-Surfing all in one place!</strong></p>

  <div id="service_list">
    <table id="service_table">
      <thead>
        <tr>
          <th class="ColTitle">Status</th>
          <th class="ColTitle">Service Name</th>
	  <th class="ColTitle">Description</th>
        </tr>
      </thead>

      <tbody>
        {% for page in site.pages %}
	  {% if page.title == "Couchsurfing - Services" %}
	  {% else %}
	    <tr class="{% cycle 'std_bg', 'alt_bg' %}">
	      {% case page.status %}
		{% when "Active" %}
	          <td><img class="status_img" src="images/green_check.png"></td>
	        {% when "Inactive" %}
	          <td><img class="status_img" src="images/red_x.png"></td>
	        {% else %}
		  <td><img class="status_img" id="UnknownStatus" src="images/blue_ques.png"></td>
	      {% endcase %}
	      <td><a id="ServiceLinks" href="{{ page.url }}"><strong>{{ page.title }}</strong><a></td>
	      <td>{{ page.description }}</td> 
	    </tr>
	  {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
		
