<!DOCTYPE html>
<html>
  <head>
      
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">

    <title>{{ page.title }}</title>
  </head>
    
  <body>
    <div class="header">
      <div class="header_content">
        <div><a href="https://www.couchsurfing.org" title='Go to homepage'>
          <img src="{{ site.url }}/images/logo-small.png">
        </a></div>
 
        <div id="HeadTitle">
          <strong>Couchsurfing Services Dashboard</strong>
        </div>

        <a href="/"><div class="button">Home</div></a>
      </div>
    </div>

    <div class="content">
      <div class="ribbon_box">
        <h2 class="ribbon">
          <span class="ribbon-content"> {{ page.title }}</span>
        </h2>
      </div>
      
      <div id="home">
        {{ content }}
      </div>

    </div>

  <footer>
    <div id="support">
      Please visit our <a href="https://support.couchsurfing.org/anonymous_requests/new">Support Center</a> or follow <a href="https://twitter.com/cs_help">@cs_help</a> on Twitter if you need help or have any questions
    </div>
    <div id="copyright">
      © 1999 - 2013&nbsp;&nbsp;&nbsp;&nbsp;Couchsurfing International, Inc. A socially responsible, Certified B Corporation
    </div>
  </footer>

  </body>
</html>
