<!DOCTYPE html>
<html>
  <head>
      
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">

    <title>{{ page.title }}</title>
  </head>
    
  <body>
    <div class="header">
      <a href="https://www.couchsurfing.org" title='Go to homepage'><span><img src="{{ site.url }}/images/logo-small.png"></span></a>
      <span>
	<h2>Couch-Surfing Services Dashboard</h2>
      </span>
      <a href="/"><span class="button" id="last_but">Home</span></a>
      <a href="/login/index.html"><span class="button" id="first_but">Login</span></a>
    </div>
    
    <div class="content">
      <div class="ribbon_box">
        <h2 class="ribbon">
          <span class="ribbon-content"> {{ page.title }}</span>
        </h2>
      </div>
      
      <div id="home">
      {{ content }}
      </div>

    </div>

  </body>
</html>
